[Desktop Entry]
Name=Firefox Nightly
Name[bg]=Firefox Nightly
Name[ca]=Firefox Nightly
Name[cs]=Firefox Nightly
Name[el]=Firefox Nightly
Name[es]=Firefox Nightly
Name[fa]=Firefox Nightly
Name[fi]=Firefox Nightly
Name[fr]=Firefox Nightly
Name[hu]=Firefox Nightly
Name[it]=Firefox Nightly
Name[ja]=Firefox Nightly
Name[ko]=Firefox Nightly
Name[nb]=Firefox Nightly
Name[nl]=Firefox Nightly
Name[nn]=Firefox Nightly
Name[no]=Firefox Nightly
Name[pl]=Firefox Nightly
Name[pt]=Firefox Nightly
Name[pt_BR]=Firefox Nightly
Name[ru]=Firefox Nightly
Name[sk]=Firefox Nightly
Name[sv]=Firefox Nightly
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Firefox Nightly Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Firefox Nightly)
X-GNOME-FullName[ca]=Navegador web Firefox Nightly
X-GNOME-FullName[cs]=Firefox Nightly Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Firefox Nightly
X-GNOME-FullName[es]=Navegador web Firefox Nightly
X-GNOME-FullName[fa]=مرورگر اینترنتی Firefox Nightly
X-GNOME-FullName[fi]=Firefox Nightly-selain
X-GNOME-FullName[fr]=Navigateur Web Firefox Nightly
X-GNOME-FullName[hu]=Firefox Nightly webböngésző
X-GNOME-FullName[it]=Firefox Nightly Browser Web
X-GNOME-FullName[ja]=Firefox Nightly ウェブ・ブラウザ
X-GNOME-FullName[ko]=Firefox Nightly 웹 브라우저
X-GNOME-FullName[nb]=Firefox Nightly Nettleser
X-GNOME-FullName[nl]=Firefox Nightly webbrowser
X-GNOME-FullName[nn]=Firefox Nightly Nettlesar
X-GNOME-FullName[no]=Firefox Nightly Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox Nightly
X-GNOME-FullName[pt]=Firefox Nightly Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Firefox Nightly
X-GNOME-FullName[ru]=Интернет-браузер Firefox Nightly
X-GNOME-FullName[sk]=Internetový prehliadač Firefox Nightly
X-GNOME-FullName[sv]=Webbläsaren Firefox Nightly
Exec=/opt/firefox-nightly/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/128x128/apps/firefox-nightly.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-Nightly
StartupNotify=true
