[Desktop Entry]
Name=Firefox Beta
Name[bg]=Firefox Beta
Name[ca]=Firefox Beta
Name[cs]=Firefox Beta
Name[el]=Firefox Beta
Name[es]=Firefox Beta
Name[fa]=Firefox Beta
Name[fi]=Firefox Beta
Name[fr]=Firefox Beta
Name[hu]=Firefox Beta
Name[it]=Firefox Beta
Name[ja]=Firefox Beta
Name[ko]=Firefox Beta
Name[nb]=Firefox Beta
Name[nl]=Firefox Beta
Name[nn]=Firefox Beta
Name[no]=Firefox Beta
Name[pl]=Firefox Beta
Name[pt]=Firefox Beta
Name[pt_BR]=Firefox Beta
Name[ru]=Firefox Beta
Name[sk]=Firefox Beta
Name[sv]=Firefox Beta
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Firefox Beta Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Firefox Beta)
X-GNOME-FullName[ca]=Navegador web Firefox Beta
X-GNOME-FullName[cs]=Firefox Beta Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Firefox Beta
X-GNOME-FullName[es]=Navegador web Firefox Beta
X-GNOME-FullName[fa]=مرورگر اینترنتی Firefox Beta
X-GNOME-FullName[fi]=Firefox Beta-selain
X-GNOME-FullName[fr]=Navigateur Web Firefox Beta
X-GNOME-FullName[hu]=Firefox Beta webböngésző
X-GNOME-FullName[it]=Firefox Beta Browser Web
X-GNOME-FullName[ja]=Firefox Beta ウェブ・ブラウザ
X-GNOME-FullName[ko]=Firefox Beta 웹 브라우저
X-GNOME-FullName[nb]=Firefox Beta Nettleser
X-GNOME-FullName[nl]=Firefox Beta webbrowser
X-GNOME-FullName[nn]=Firefox Beta Nettlesar
X-GNOME-FullName[no]=Firefox Beta Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox Beta
X-GNOME-FullName[pt]=Firefox Beta Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Firefox Beta
X-GNOME-FullName[ru]=Интернет-браузер Firefox Beta
X-GNOME-FullName[sk]=Internetový prehliadač Firefox Beta
X-GNOME-FullName[sv]=Webbläsaren Firefox Beta
Exec=/opt/firefox-beta/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/128x128/apps/firefox-beta.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-Beta
StartupNotify=true
